<!DOCTYPE html>
<html lang="en">
<head>
     <style>
        body{
            font-family: 'script','monospace','pecifico';
            background-color: rgb(165, 246, 219);
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <h1>SIGN UP</h1>
    <form action="/user" method ="post">
        <lable>Full Name </lable>
        <input type="text" required name="name"></input>
        <lable>E-Mail </lable>
        <input type="text" required name="email"></input>
        <lable>Password </lable>
        <input type="text" required name="password"></input>


        <button type="submit">SignUp</button>
    </form>

</body>
</html>